html {
    --baseColor: #0a3e72ff;
    --baseText: ghostwhite;
    --content-box__max-width: 98vw;

    background-color: #f1f5f9;
    font-family: "SORA", "Roboto Light", "Roboto Thin", sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;

}

@media only screen and (min-width: 1700px) {
    html {
        --content-box__max-width: 40vw;
    }
}
