---
import github from "../assets/github.svg";
---

<footer>
  <a href="https://github.com/jbrischle/" target="_blank">
    <img alt="janick brischle github" src={github} />
  </a>
</footer>

<style>
  img {
    height: 85%;
    object-fit: scale-down;
  }

  a {
    display: flex;
    align-items: center;
  }

  footer {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: flex-end;
    height: 20vh;
    background-color: var(--baseColor);
    color: var(--baseText);
  }
</style>
