<footer>
  <a href="https://github.com/jbrischle/" target="_blank">
    <img alt="janick brischle github" src="/github.svg" />
  </a>
</footer>

<style>
  img {
    height: 85%;
    object-fit: scale-down;
  }

  footer {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    height: 20vh;
  }
</style>
