---
import github from "../assets/github.svg";
---

<footer>
  <div class="content">
    <a href="https://github.com/jbrischle/" target="_blank">
      <img alt="janick brischle github" src={github} />
    </a>
  </div>
</footer>

<style>
  footer {
    background-color: var(--baseColor);
    display: flex;
    justify-content: center;
  }

  .content {
    max-width: var(--content-box__max-width);
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: flex-end;
    height: 20vh;
    color: var(--baseColorText);
  }

  a {
    display: flex;
    align-items: center;
  }

  a img {
    height: 85%;
    object-fit: scale-down;
  }
</style>
