---
import Footer from "../components/footer.astro";
import Routes from "../components/routes.astro";
const { title } = Astro.props;
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href=`${import.meta.env.BASE_URL}favicon.svg`
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav class="sticky__top">
      <Routes />
    </nav>
    <article>
      <slot />
    </article>
    <Footer class="sticky__bottom" />
  </body>
</html>

<style>
  article {
    padding: 1rem;
    overflow: auto;
  }

  .sticky__top {
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .sticky__bottom {
    position: sticky;
    bottom: 0;
    z-index: 999;
  }
</style>
