---
import Footer from "../components/footer.astro";
import Routes from "../components/routes.astro";
const { title } = Astro.props;
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <Routes />
    </nav>
    <article>
      <slot />
    </article>
    <Footer />
  </body>
</html>
